.searchField{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 50px;
    padding-top:50px
}

.textField, .searchButton {

    border: 0;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
}
.textField{

  height: 25px;
  width: 400px;
  
}
button.searchButton{
    display: inline-flex;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    height: 35px;
    width: 75px;
    background-color: red;
    color: white;
}