@keyframes videoNums-pulse{
    0% {
        color: black;
    }
    40% {
        color: orange;
    }
    70% {
        color: red;
    }
    100% {
        color: green;
    }
}
@keyframes expand-contract {
0% {
    transform: scale(1.3);
}
70% {
    transform: scale(1)
}
100% {
    transform: scale(1.3);
}

}
.searchField{
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: 50px;
    padding-top:50px
}

.textField, .searchButton {

    border: 0;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
}
.textField{

  height: 25px;
  width: 400px;
  box-shadow: 7px 7px 7px 7px gray;
  
}
.textField:hover {
   box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
}
button.searchButton{
    display: inline-flex;
    justify-content: center;
    border-radius: 12px;
    align-items: center;
    height: 35px;
    width: 75px;
    background-color: red;
    color: var(--primary-color);
    cursor: pointer;
    box-shadow: 7px 6px 7px 7px gray;
}
.searchButton:hover {
    animation: expand-contract 1s infinite;
   transition: 3s;
}
#videoNums{
    font-weight: bold;
    text-decoration: underline;
    margin-left: 20px;
    box-shadow: 7px 6px 7px 7px gray;
    border-radius: 30px;
    animation: videoNums-pulse 10s infinite;

}
#searchNum {
    box-shadow: 5px 4px 4px 6px gray;
    margin-left: 10px;

}
#searchNum:hover {
    box-shadow: 0 0 10px 0 red inset, 0 0 10px 4px red;
 }