.switchPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 350px;
    margin: auto;
    margin-bottom: 20px;
}

.prevPage, .currentPage, .nextPage {
    border: 1px solid black;
    width: 100px;
    height: 35px;
    text-align: center;
    padding-top:10px;
    background-color: aqua;
}

.prevPage:hover{
    color: white
}

.currentPage:hover{
    color:white
}

 .nextPage:hover{
    color: white
}