.video{
  padding: 25px;
  padding-left: 25px;
  padding-right: 25px;
  align-content: center;
}
.thumbnails {
  width: 75%;
  height: 55%;
text-align: center;
}
.vidName{
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;

}