.noSearch {
  display: grid;
  width: 450px;
  background-color: lightslategray;
}

:root{
    --primary-color: white;
    --secondary-color: #191919;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}
body.light{
    --background-color: var(--primary-color);
    --text-color: var(--secondary-color);
}
body.dark {
    --background-color: var(--secondary-color);
    --text-color: var(--primary-color);
}
.a.dark {
    --text-color: var(--primary-color)
}
.vidName.dark{
    color: var(--pimary-color);
}
.app{
background-color: var(--primary-color);
}